:root {
    --cor-primaria: #7A5252;
    --cor-secundaria: #473030;
    --tom1:#2E1111;
    --tom2: #7a2d2d;
    --tom3:#c74a4a;
   
   --fonte-titulo: 'Lobster';
   --fonte-corpo: 'Prata', serif;
}

html{
    width: 100%;
    overflow-x: hidden;
}

body{
    margin: 0 auto;
    max-width: 1024px;
    background-color:#f9c0b3;
}

.escondido{
    top: -176px;
}



